<template>
<li class="nav-item dropdown">
  <a href="#" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Notif<span class="badge badge-danger" id="count-notification">{{notifications.length}}</span><span class="caret"></span>
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown" >
 
    <a href="#" class="dropdown-item" v-for="notif in notifications">
    {{notif.data}}
    </a>
  
  </div>
</li>
</template>

<script>
    export default {
       props: ['notifications'],
    }
</script>
